<div class="container">
  <section class="section">
    <h2 class="section__title">Phonetics Exploration</h2>
    <img
      src="../../assets/images/listening.jpg"
      alt="Grammar image"
      class="section__image"
    />
    <p class="section__details section__details_padding">
      Dive into our Grammar Mastery section, where we unravel the intricacies of
      English grammar. From essential tense rules to interactive tests that
      challenge your understanding, we provide a comprehensive toolkit to
      elevate your grammatical proficiency. Explore the world of grammar with
      us, and enhance your language skills with confidence.
    </p>
  </section>
  <div *ngIf="isLoading" class="spinner">
    <div id="loading"></div>
  </div>
  <div *ngIf="!isLoading" class="phonetics">
    <nav class="phonetics__category category">
      <h2 class="category__title">Consonants</h2>
      <app-phonetic-category
        categoryTitle="Monophthongs"
        [itemCount]="consonantMonophthongs.length"
        [items]="consonantMonophthongs"
      ></app-phonetic-category>
      <app-phonetic-category
        categoryTitle="Diphthongs"
        [itemCount]="consonantDiphthongs.length"
        [items]="consonantDiphthongs"
      ></app-phonetic-category>
    </nav>
    <nav class="phonetics__category category">
      <h2 class="category__title">Consonants</h2>
      <app-phonetic-category
        [categoryTitle]="'Vowels Monophthongs'"
        [itemCount]="vowelMonophthongs.length"
        [items]="vowelMonophthongs"
      ></app-phonetic-category>
      <app-phonetic-category
        [categoryTitle]="'Vowels Diphthongs'"
        [itemCount]="vowelDiphthongs.length"
        [items]="vowelDiphthongs"
      ></app-phonetic-category>
    </nav>
  </div>
</div>
