.navbar {
  padding: 10px 15px;
  background-color: var(--nav-bg-color);

  &__container {
    display: flex;
    justify-content: flex-start;
  }

  &__nav {
    display: flex;
    gap: 15px;
    text-decoration: none;
    list-style: none;
  }

  &__brand {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 20px;
  }

  &__item {
  }
}

.link:visited,
.link:hover,
.link {
  text-decoration: none;
  color: var(--nav-link-color);
}
