<nav class="navbar">
  <div class="container navbar__container">
    <a class="navbar__brand link" routerLink="/">English Review</a>
    <ul class="navbar__nav">
      <li class="navbar__item">
        <a class="link" routerLink="/grammar">Grammar</a>
      </li>
      <li class="navbar__item">
        <a class="link" routerLink="/phonetics">Phonetics</a>
      </li>
      <li class="navbar__item">
        <a class="link" routerLink="/books">Books</a>
      </li>
      <li class="navbar__item">
        <a class="link" routerLink="/films">Films</a>
      </li>
    </ul>
  </div>
</nav>
