<div class="container">
  <header class="header">
    <h1 class="header__title"><small>Welcome to </small>English Review!</h1>
    <p class="header__details">
      Welcome to <b>English Review</b>, where language mastery meets literary
      and cinematic exploration. Immerse yourself in diverse literature and
      captivating films, as we guide you on a journey of enrichment and
      discovery.
    </p>
  </header>

  <nav class="navbar">
    <ul class="navbar__nav">
      <li class="navbar__item">
        <a class="navbar__link" routerLink="/grammar" data-image="grammar"
          >Grammar</a
        >
      </li>
      <li class="navbar__item">
        <a class="navbar__link" routerLink="/phonetics" data-image="phonetics"
          >Phonetics</a
        >
      </li>
      <li class="navbar__item">
        <a class="navbar__link" routerLink="/books" data-image="books">Books</a>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" routerLink="/films" data-image="films">Films</a>
      </li>
    </ul>
  </nav>

  <section class="section">
    <h2 class="section__title">What We Do</h2>
    <p class="section__details">
      English Review is dedicated to providing valuable resources and content to
      help you improve your English language skills. Whether you are looking to
      master grammar rules, refine your pronunciation with phonetics, or explore
      captivating books and films, we've got you covered. Down below you can
      find out what each of the sections contain.
    </p>
  </section>

  <section class="section">
    <h2 class="section__title">Grammar Mastery</h2>
    <img
      src="../../assets/images/handwriting.jpg"
      alt="Grammar image"
      class="section__image"
    />
    <p class="section__details section__details_padding">
      Dive into our Grammar Mastery section, where we unravel the intricacies of
      English grammar. From essential tense rules to interactive tests that
      challenge your understanding, we provide a comprehensive toolkit to
      elevate your grammatical proficiency. Explore the world of grammar with
      us, and enhance your language skills with confidence.
    </p>
  </section>

  <section class="section">
    <h2 class="section__title">Phonetics Exploration</h2>
    <img
      src="../../assets/images/listening.jpg"
      alt="Phonetics image"
      class="section__image"
    />
    <p class="section__details section__details_padding">
      Embark on a journey through our Phonetics Exploration, where we demystify
      the nuances of English pronunciation. Uncover phonetic rules and receive
      detailed explanations on how to articulate various sounds in English. Let
      our phonetics guide be your companion as you refine your speaking skills
      and achieve a clearer, more expressive communication style.
    </p>
  </section>

  <section class="section">
    <h2 class="section__title">Cinematic and Literary Adventures</h2>
    <img
      src="../../assets/images/booksfilms.jpg"
      alt="Books and films image"
      class="section__image"
    />
    <p class="section__details section__details_padding">
      Immerse yourself in our Cinematic and Literary Adventures section, where
      the worlds of films and books converge. Discover curated collections
      ranked from easy to challenging, enhancing your learning experience.
      Engage with captivating stories and cinematic wonders, carefully selected
      to make your language journey enjoyable and rewarding.
    </p>
  </section>
</div>
