<main class="main">
  <header class="header">
    <h1 class="header__title">Welcome to English Review!</h1>
    <p class="header__details">
      Your go-to destination for enhancing your English skills and exploring the
      world of english literature and film.
    </p>
  </header>

  <nav class="navbar">
    <ul class="navbar__nav">
      <li class="navbar__item">
        <a class="navbar__link" routerLink="/grammar">Grammar</a>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" routerLink="/phonetics">Phonetics</a>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" routerLink="/books">Books</a>
      </li>
      <li class="navbar__item">
        <a class="navbar__link" routerLink="/films">Films</a>
      </li>
    </ul>
  </nav>

  <section class="section">
    <h2 class="section__title">What We Do</h2>
    <p class="sections__details">
      English Review is dedicated to providing valuable resources and content to
      help you improve your English language skills. Whether you are looking to
      master grammar rules, refine your pronunciation with phonetics, or explore
      captivating books and films, we've got you covered.
    </p>
  </section>
</main>
